h1{
background-color:  #1c0875; 
color: #ffae00;
text-align: center;
}

h2{
background-color:  #1c0875;
color: #0eeb8f;
}

ul{
color: #0eeb8f;
}

p{
background-color: white;
}

body{
background-image: url(./img/ek\ \(1\).jpg);

}